.container {
  flex: 0 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav {
    display: flex;
    align-items: center;
    white-space: pre;

    .item {
      min-width: 40px;
      text-decoration: none;
      color: inherit;
    }

    & > :not(:last-child) {
      margin-right: 20px;
      min-width: 50px;
    }

    .value {
      position: relative;
      left: 16px;
      font-weight: bold;
      bottom: 5px;
      font-size: 12px;
    }
  }

  .bag {
    height: 25px;
  }
}
